.place__title {
    margin: 0;
    padding: 0 16px 0;
    font-weight: 900;
    font-size: var(--font-size_title);
    line-height: var(--line-height_title);
}

@media (min-width: 768px) {
    .place__title {
        padding: 0;
        max-width: 329px;
    }
}

@media (min-width: 1024px) {
    .place__title {
        max-width: 400px;
    }
}