.lead {
    display: flex;
    flex-direction: column;
    padding: 48px 0 0;
    margin: 0;
    max-width: var(--page-view_max-width);
}

@media (min-width: 1280px) {
    .lead {
        padding: 56px 0 0;
    }
}