.lead__title {
    font-weight: 900;
    font-size: var(--font-size_large);
    line-height: var(--line-height_large);
    text-align: center;
    align-self: center;
    margin: 0;
    padding: 0 16px 0;
    max-width: 288px;

}