.footer__links {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 48px;
    gap: 32px;
}

@media (min-width: 768px) {
    .footer__links {
        flex-direction: row;
        justify-content: space-evenly;
        box-sizing: border-box;
        max-width: 100%;
        margin: 0;
        gap: 0;
    }
}