.place__first-title {
    margin: 0;
    padding: 0 16px 0;
    font-weight: 900;
    font-size: var(--font-size_title);
    line-height: var(--line-height_title);
    max-width: 340px;
}

@media (min-width: 768px) {
    .place__first-title {
        padding: 0;
        letter-spacing: 1.5px;
    }
}