.lead__subtitle {
    font-size: var(--font-size_sub);
    line-height: var(--line-height_subtitle);
    text-align: center;
    align-self: center;
    padding: 0 16px 0;
    margin: 16px 0 0;
}

@media (min-width: 768px) {
    .lead__subtitle {
        padding: 0 64px 0;
        margin: 32px 0 0;
    }
}

@media (min-width: 1024px) {
    .lead__subtitle {
        padding: 0 192px 0;
    }
}