.footer {
    padding: 64px 16px 24px;
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}


@media (min-width: 768px) {
    .footer {
        flex-wrap: wrap;
        padding: 88px 24px 24px;
        justify-content: space-between;
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .footer {
        padding: 92px 48px 24px;
        width: 90%;
    }
}

@media (min-width: 1024px) {
    .footer {
        width: 93%;
    }
}