.footer {
    padding: 64px 16px 24px;
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: var(--page-view_max-width);

}


@media (min-width : 768px) {
    .footer {
        flex-direction: row;
        padding-left: 24px;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;

    }

}

@media (min-width : 1024px) {
    .footer {
        padding-left: 48px;
    }

}

@media (min-width : 1280px) {
    .footer {
        max-width: 100%;
        box-sizing: border-box;
    }
}