.intro__title {
    font-size: var(--font-size_medium);
    line-height: var(--line-height_medium);
    margin: 0;
    padding: 0;

}

@media (max-width: 320px) {
    .intro__title {
        max-width: 248px;
    }
}